.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: green;
}
a{
  text-decoration: none;
}
.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: yellow;
}
.logo h2 {
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #303030;
}
.logo h2 span {
  font-size: 3.5rem;
}

.menu_item{
  list-style: none;
  padding: 2.5rem;
  font-size: 25px;
  cursor: pointer;
  color: #303030;
  transition: 0.1s;
  
}

ul li a{
    text-transform: capitalize;
  color: #303030;
  transition: 0.1s;
  background: blue;
}

ul li:hover>a {
  transform-origin: left;
  color: #0b6c37;
  transition: 0.1s;
}
